<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="page-header">
        <h1>Edit <%= @cocktail.name %></h1>
      </div>

      <%= render 'form' %>

      <%= link_to 'Show', @cocktail %>

      <div class="back">
      <%= link_to '<i class="fa fa-chevron-left"></i> Back'.html_safe, cocktails_path %>
      </div>
    </div>
  </div>
</div>