<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="page-header">
        <h1>Tous les Cocktails</h1>
      </div>

      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-4">
          <div class="cocktail-overview">
            <h2><%= link_to cocktail.name, cocktail %></h2>
            <span class="edit-cocktail">
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_cocktail_path(cocktail) %>
              <%= link_to '<i class="fa fa-minus-circle"></i>'.html_safe, cocktail, method: :delete, data: { confirm: 'Supprimer ce cocktail ?' } %>
            </span>
            <%= link_to (image_tag cocktail.photo.url(:thumb)), cocktail %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
